<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISendChatService" maxReceivedMessageSize="65536">
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1234/Chat/ChatService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISendChatService"
          contract="ChatService.ISendChatService" name="NetTcpBinding_ISendChatService" />
    </client>
  </system.serviceModel>
</configuration>